*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
}

div{
    display: block;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url("./Background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedorForm{
    height: 600px;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    background-color: aliceblue;
    border-radius: 4px;
    box-shadow: 7px 13px 37px black;
}

.contenedorForm h2{
    width: 100%;
    height: 60px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    background-color: rgb(41, 13, 78);
    color: aliceblue;
    border-style: none none solid none;
    border-bottom: -1px;
    border-color: #35ffd2;
}
.contenedorForm a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.contInputs{
    margin: auto;
    width: 80%;

}

.contInputs input{
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    background-color: aliceblue;
    height: 30px;
    border-style: solid;
    padding-left: 8px;
    border-color: #35ffd2;
    transition: all .3 ease;
    margin-top: 15px;
}

.contInputs input:focus{
    background-color: rgb(41, 13, 78);
    color: aliceblue;
}
.nombre{
    margin-bottom: 20px;
    width: 100%;
}
.nombre label{
    display: flex;
    font-size: 18px;
    color: rgb(5, 172, 172);
    width: 100%;
    height: 15px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}


.boton input{
    font-weight: 550;
    height: 40px;
}
.boton input:hover{
    background-color: rgb(41, 13, 78);
    color: aliceblue;
}
.alerta{
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin: auto;
    color: rgb(4, 134, 134);
    padding-top: 10px;
}