*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri';
    color: white;
    font-size: 20px;
}
div{
    display: block;
}
.contenedor {
    width: 100%;
    margin: auto;
    padding: 60px;
}

/*menu*/
.stickyNav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.menu-nav{
    padding: 0;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #09072c;
}

.logo{
    display: flex;
    height: 60px;
    padding-left: 2%;
    padding-right: 1%;
}

.logo img{
    display: block;
    height: 100%;
    margin-right: 3%;
}
.enlaces{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



.enlaces a, form{
    display: flex;
    text-align: center;
    border: 1px;
    border-style: none;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    color: aliceblue;
}
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto span{
    margin-left: 10px;
}
.contacto svg{
    fill: aliceblue;
    width: 31px;
    min-width: 31px;
    max-width: 31px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
}

.wishList{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishList span{
    margin-left: 10px;
}

.wishList svg{
    fill: aliceblue;
    width: 23px;
    min-width: 23px;
    max-width: 23px;
    height: 21px;
    min-height: 21px;
    max-height: 21px;
}
.enlaces a:hover{
    padding: 9px 11px;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
}
.menu-form label{
    padding: 2px 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: aliceblue;
    font-weight: 400;
    color: gray;
}

.buscar{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: aliceblue;
    width: 31px;
    min-width: 31px;
    max-width: 31px;
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left-color: gray;
    border-style: solid;
}

.buscar svg{
    fill: gray;
    max-width: 70%;
    max-height: 70%;
}
.formBuscar{
    color: black;
    border-style: none;
    font-size: 15px;
    text-align: center;
    justify-content: flex-start;
}
/*menu*/

/*carrusel principal*/
#hero{
    height: 400px;
    background-image: url("./Game.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-textos{
    padding: 0px 4%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.button-hero1{
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    opacity: 0.8;
    background-color: #09072c;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-hero2{
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    opacity: 0.8;
    background-color: #09072c;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-hero1 svg{
    max-width: 48%;
    max-height: 48%;
    fill: white;

}

.button-hero1:hover{
    opacity: 1;
    background-color: #1a064e;
    transition: all 0.3 ease-in-out;
}
.button-hero2 svg{
    max-width: 48%;
    max-height: 48%;
    fill: white;

}

.button-hero2:hover{
    opacity: 1;
    background-color: #1a064e;
    transition: all 0.3 ease-in-out;
}
/*carrusel principal*/

/*carrusel segundo*/
.contenedorCategoryGadgets{
    background-color: white;
    width: 100%;
    height: 300px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorCategoryGadgets h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    color: black;
}

.imagesCategory{
    width: 90%;
    justify-content: space-evenly;
    display: flex;
}
.imagesCategory img{
    width: 180px;
}

.imagesCategory p{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.imagesCategory div{
    padding: 10px 2px;
}

.imagesCategory div:hover{
    border-style: outset;
    border-color: rgb(51, 15, 153);
    border-width: 2px;
    padding: 8px 0px;
}
/*Carrusel 2*/

/*Sección TopGadgets&GadgetsForAdults*/
.seccionGadgets2{
    width: 100%;
    padding-top: 50px;
    display: flex;
    position: relative;
    
}

.seccionGadgets2 div{
    width: 50%;
    height: auto;

}

.seccionGadgets2 img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.inPicClass{
    height: 50%;
    padding: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.inPicClass h2{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0;
}
.inPicClass p{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 5%;
}

.inPicClass div{
    margin: auto;
    font-size: 26px;
    width: 260px;
    height: 60px;
    margin-bottom: 40px;
}
.inPicClass button{
    margin: auto;
    font-size: 26px;
    width: 160px;
    height: 60px;
    border-color: aliceblue;
    border-width: 2px;
    background-color: transparent;
    
}
/*Sección TopGadgets&GadgetsForAdults*/

/*Footer*/
.footer{
    display: flex;
    width: 100%;
    height: auto;
    height: 100px;
    background-color: #0f0a40;
    justify-content: center;
}

.footer p{
    padding-top: 20px;
    color: white;
    text-align: center;
}