*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri';
    color: white;
}
div{
    display: block;
}
.contenedor {
    width: 100%;
    margin: auto;
    padding: 60px;
}

/*menu*/
.stickyNav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.menu-nav{
    padding: 0;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #09072c;
}

.logo{
    height: 60px;
    padding-left: 2%;
    padding-right: 1%;
}

.logo img{
    display: block;
    height: 100%;
    
}
.enlaces{
    width: 100%;
    display: flex;
    justify-content: space-around;
}



.enlaces a, form{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px;
    border-style: none;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 12px;
    color: aliceblue;
}

.enlaces a:hover{
    padding: 9px 11px;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
}
.menu-form label{
    padding: 1px 120px;
    padding-top: 1px;
    border-radius: 20px;
    background-color: aliceblue;
    font-weight: 400;
    color: gray;
}
/*menu*/

/*carrusel principal*/
.hero{
    height: 500px;
    background-image: url("./images/pexels-pixabay-159438.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero button{
    padding: 15px;
    font-family: 'calibri';
    font-weight: bold;
    color: aliceblue;
    font-size: 20px;
    border-color: rgb(51, 15, 153);
    border-width: 2px;
    border-radius: 20px;
    background-color: #130f57;
    opacity: 0.6;
}

.button-hero:hover{
    opacity: 0.9;
}
/*carrusel principal*/

/*carrusel segundo*/
.contenedorCategoryGadgets{
    background-color: white;
    width: 100%;
    height: 300px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorCategoryGadgets h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    color: black;
}

.imagesCategory{
    width: 90%;
    justify-content: space-evenly;
    display: flex;
}
.imagesCategory img{
    width: 180px;
}

.imagesCategory a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.imagesCategory div{
    padding: 10px 2px;
}

.imagesCategory div:hover{
    border-style: outset;
    border-color: rgb(51, 15, 153);
    border-width: 2px;
    padding: 8px 0px;
}
/*Carrusel 2*/

/*Sección TopGadgets&GadgetsForAdults*/
.seccionGadgets2{
    width: 100%;
    padding-top: 50px;
    display: flex;
    position: relative;
    
}

.seccionGadgets2 div{
    width: 50%;
    height: auto;

}

.seccionGadgets2 img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.inPicClass{
    height: 50%;
    padding: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.inPicClass h2{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0;
}
.inPicClass p{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 5%;
}

.inPicClass div{
    margin: auto;
    font-size: 26px;
    width: 260px;
    height: 60px;
    margin-bottom: 40px;
}
.inPicClass button{
    margin: auto;
    font-size: 26px;
    width: 160px;
    height: 60px;
    border-color: aliceblue;
    border-width: 2px;
    background-color: transparent;
    
}
/*Sección TopGadgets&GadgetsForAdults*/

/*Footer*/
.footer{
    display: flex;
    width: 100%;
    height: auto;
    height: 100px;
    background-color: #0f0a40;
    justify-content: center;
}

.footer p{
    padding-top: 20px;
    color: white;
    text-align: center;
}